@import "variables";

// Nice dark blue
$primary: $purple;
$text: $beige;

$bg-gradient: linear-gradient(0deg, rgba($primary, 0.9), rgba(lighten($primary, 5%), 0.9)), #FFFFFF;

:root {
  // Defaults for theme vars
  //--theme-accent-primary: var(--wine-red);
  --theme-accent-primary: #{lighten($primary, 70%)};
  //--theme-accent-primary: #{$primary};
  //--theme-accent-secondary: var(--primary);
  --theme-accent-secondary: #AE8EC1;
  //--theme-bg: var(--white);
  --theme-bg: #{$primary};
  //--theme-fg: var(--black);
  --theme-fg: #{lighten($primary, 70%)};
  --theme-bg-accent: #{darken($primary, 5%)};
  --theme-header-bg: var(--theme-bg);
  --theme-header-fg: var(--theme-fg);
  --theme-footer-bg: #{darken($primary, 5%)};
  --theme-accent-tertiary: #{darken($text, 20%)};
  --theme-footer-fg: #{$text};
  --theme-text-accent: #{lighten($primary, 5%)};
  --theme-text-disabled: #{darken($white, 20%)};
  --theme-bg-accent-gradient: #{$bg-gradient};
  --theme-top-border: #{darken($primary, 10%)};
}

.paper {
  //background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), transparent;
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.2) 2px, transparent 2px, transparent 6px);
  background-size: 4px 4px;
}

.hero-welcome-image1, .hero-welcome-image3 {
  background-position: top;
}

#welcome-text {
  margin-right: 10%;
}

.footer-headings a {
  min-width: 100%;
}

.partner-card .logo {
  filter: invert(1) opacity(0.6);
}

.header.main .logo img {
    filter: grayscale(1) invert(1) opacity(0.9);
}

.footer-content .partners .partner-logos {
  gap: 2rem;
}

.footer-content .partners .partner-logos > a > img {
  width: auto;
  height: 4rem;
}

.page-content.about figure.fig-right {
  background-color: white;
  background-blend-mode: lighten;
  //opacity: 0.6;
  padding: 1rem;
  color: black;
}
