@import "variables";

// Nice dark blue
$primary: $purple;
$text: $beige;

$bg-gradient: linear-gradient(0deg, rgba($primary, 0.9), rgba(lighten($primary, 5%), 0.9)), #FFFFFF;

:root {
  // Defaults for theme vars

  // The page background
  --theme-bg: #{$primary};
  // Text colour
  --theme-fg: #{lighten($primary, 70%)};
  // Accented background for e.g. buttons + gradient variety
  --theme-bg-accent: #{lighten($primary, 5%)};
  --theme-bg-accent-gradient: #{$bg-gradient};
  // Accented text e.g. links
  --theme-fg-accent: #{lighten($primary, 70%)};
  // Muted text, e.g. disabled links
  --theme-fg-muted: #{darken($white, 20%)};

  // Header varieties of above
  --theme-header-bg: var(--theme-bg);
  --theme-header-bg-accent: var(--theme-bg-accent);
  --theme-header-bg-accent-gradient: var(--theme-bg-accent-gradient);
  --theme-header-fg: var(--theme-fg);
  --theme-header-fg-accent: var(--theme-fg-accent);
  --theme-header-fg-muted: var(--theme-fg-muted);

  // Footer varieties of above
  --theme-footer-bg: #{darken($primary, 5%)};
  --theme-footer-bg-accent: var(--theme-footer-bg);
  --theme-footer-bg-accent-gradient: var(--theme-footer-bg-accent);
  --theme-footer-fg: #{$text};
  --theme-footer-fg-accent: var(--theme-footer-fg);
  --theme-footer-fg-muted: var(--theme-footer-fg);

  // Top border colour
  --theme-top-border: #{darken($primary, 10%)};
}

body {
  border-top: var(--theme-top-border);
}

blockquote p {
  border-left: lighten($primary, 10%) 5px solid;
}

.paper {
  //background: linear-gradient(0deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0.2)), transparent;
  background-image: repeating-linear-gradient(-45deg, rgba(255,255,255, 0.1), rgba(255,255,255, 0.2) 2px, transparent 2px, transparent 6px);
  background-size: 4px 4px;
}

.hero-welcome-image1, .hero-welcome-image3 {
  background-position: top;
}

#welcome-text {
  margin-right: 10%;
}

.footer-headings a {
  min-width: 100%;
}

.partner-card .logo {
  filter: invert(1) opacity(0.6);
}

.header.main .logo img {
    filter: grayscale(1) invert(1) opacity(0.9) brightness(1.2);
}

.footer-content .partners .partner-logos {
  gap: 2rem;
}

.footer-content .partners .partner-logos > a > img {
  width: auto;
  height: 4rem;
}

.page-content.about figure.fig-right {
  background-color: white;
  background-blend-mode: lighten;
  //opacity: 0.6;
  padding: 1rem;
  color: black;
}

#welcome-text figure {
  margin: 0;

  img {
    width: 20rem;
    filter: invert(1);
  }
}
