{{ $key := printf "people_%s" .Language }}
{{ $data := index site.Data $key }}
{{ if $data }}
<section class="people paper page-content">
    <div class="person-list">
        {{ range $data }}
            <div class="person">
                {{ $url := printf "images/%s" .image }}
                {{ $imgpath := printf "static/%s" $url }}
                {{ if fileExists $imgpath }}
                    <img class="person-image" src="{{ $url | relURL }}" alt="{{ .name }} image" />
                {{ end }}
                <h2 class="person-name">{{ .name }}</h2>
                <p class="person-about">
                    {{ .about | markdownify }}
                </p>
                {{ if .email }}
                <div class="contact-card">
                    <header class="contact-name"><a href="mailto:{{ .email }}">{{ .name }}</a></header>
                    <a class="contact-email" href="mailto:{{ .email }}">
                        <i class="fa fa-fw fa-envelope-o"></i>
                        {{ .email }}
                    </a>
                </div>
                {{ end }}
            </div>
        {{ end }}
    </div>
</section>
{{ else }}
    {{ errorf "Cannot find people data for language '%s'" .Language }}
{{ end }}