{{ define "main" }}

<section class="home hero">
    <div id="welcome">
        <h1>{{ .Page.Title }}</h1>

        <div id="welcome-image1"></div>
        <div id="welcome-image2"></div>
        <div id="welcome-image3"></div>
        <div id="welcome-text">
            {{ .Content }}

            <a class="button-primary" href="{{ relLangURL "about" }}">{{ i18n "learn_more" }}</a>
        </div>

    </div>
</section>

<section class="home video paper">

    <h1><a target="_blank" href="https://www.youtube.com/embed/HR_R0SSMWz0">{{ i18n "more_about_mission" }}</a></h1>

    <!-- Video placeholder for when we don't want YouTube cookies -->
    <!-- <img class="video-placeholder" alt="video" src="{{ "images/video-placeholder.png" | relURL }}"/>-->

    <iframe
        class="video-embed"
        src="https://www.youtube.com/embed/HR_R0SSMWz0" title="YouTube video player"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen="">
    </iframe>

</section>

<section class="home services">
    <h2>{{ i18n "ehri_services" }}</h2>
    <p>
        {{ i18n "below_are_some" }}
    </p>

    {{ partial "services" . }}
</section>

<section class="home latest">
    <h2>{{ i18n "latest" }}</h2>

    {{ partial "latest-posts" . }}
</section>

{{ end }}